<ion-view view-title="Login">
  <ion-content class="padding">

    <br><br><br>

    <div class="text-center">
      <img height="200px" src="img/JukeLogo.png"></img>
    </div>

    <br><br><br><br>

    <div class="text-center">
      <img height="40px" src="img/spotify_log_in-mobile.png" ng-click="login()"></img>
    </div>

    <br>
    <p class="text-center">Or</p>

    <button class="button button-block button-clear button-positive" ng-click="guestLogin()">
      Sign in as Guest
    </button>


  </ion-content>
</ion-view>
