<ion-view view-title="Groups">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Enter Code">
      </label>
    </div>

    <h4>Nearby Groups</h4>

    <div class="card">
        <a href="#" class="item item-text-wrap">
        Mississippi Pizza
      </a>
    </div>

    <div class="card">
        <a href="#" class="item item-text-wrap">
        Por Que No
      </a>
    </div>

    <button class="button button-block button-outline button-balanced">
      Start a Group
    </button>

  </ion-content>
</ion-view>
